In [ ]:
import json
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
def filter_df(df, num_sources=None, num_targets=None):
    """
    A function to filter the data frame by top n sources and targets
    If num_sources or num_targets args are not supplied, they will not be filtered
    """
    if num_targets:
        top_targets = df.sum().sort_values(ascending=False)
        df = df[top_targets[:num_targets].index]
    
    if num_sources:
        top_sources = df.sum(axis=1).sort_values(ascending=False)[:num_sources]
        df = df.loc[top_sources.index]
    
    return df


def create_sankey_df(df, min_val=0):
    """
    Create the human-readable form of the Sankey chart data from an input data frame
    Data can be filtered by a threshold minimum value
    | Source | Source Value | Target | Target Value |
    |    A   |      5       |   i    |      3       |
    |    A   |      5       |   j    |      2       |
    |    B   |      7       |   i    |      1       |
    |    B   |      7       |   k    |      4       |
    """
    
    sources = []
    source_vals = []
    targets = []
    target_vals = []
    for source_name in df.index:
        row = df.loc[source_name]
        sources += [source_name] * sum(row.values > min_val)
        source_vals += [row[row.values > min_val].sum()] * sum(row.values > min_val)
        targets += list(row[row > min_val].index)
        target_vals += list(row[row > min_val].values)
    
    sankey_df = pd.DataFrame({
        'source': sources,
        'target': targets,
        'value': target_vals
    })
    
    return sankey_df


def create_label_dict(node_df, start_idx=0):
    """
    Return a dictionary with labels as keys and indices as values.  Applied 
    to each section of the flow visualization (two nodes and an edge). The
    `node_df` represents each section.
    """
    labels = set(node_df.source).union(node_df.target)
    sorted_labels = sorted(list(labels))
    return {sorted_labels[i]: i + start_idx for i in range(len(sorted_labels))}


def create_final_list(node_df, node_label_dict):
    """
    Return a list of dictionaries and the labels for each section of the flow 
    diagram.
    """
    df = pd.DataFrame({
        "source": node_df.source.map(node_label_dict),
        "target": node_df.target.map(node_label_dict),
        "value" : node_df.value
    })
    
    labels = list(node_label_dict.keys())
    return df.to_dict("records"), labels

In [ ]:
investor = pd.read_excel(
    "../data/Equity investor SUP matrix v2.xlsx",
    engine="openpyxl",
    skiprows=3,
    usecols="B, G:GL",
)

investor = investor.rename(columns={investor.columns[0]: "Ultimate Investor"})

# drop last row because it is a table summary
investor = investor[:-1]
investor = investor.set_index('Ultimate Investor')

# Set the value of Kingdom of Saudi Arabia investment in Saudi Arabian Oil company to equal
# the second largest investment
investor.loc['KINGDOM OF SAUDI ARABIA', ('Saudi Arabian Oil Co')] = investor.max(axis=0).sort_values(ascending=False)[1]

In [ ]:
financer = pd.read_excel(
    "../data/Financing SUP matrix v2.xlsx",
    engine="openpyxl",
    skiprows=4,
    usecols="A:AV",
)

# drop last row because it is null
financer = financer[:-1]
financer = financer.set_index('Banks')

In [ ]:
producer = pd.read_excel(
    "../data/MFA matrix v2.xlsx",
    #sheet_name="Conversion",
    engine="openpyxl",
    skiprows=1,
    usecols="C:FY",
).dropna()

producer = producer.groupby('Producer').sum()

In [ ]:
waste = pd.read_excel(
    "../data/MFA matrix v2.xlsx",
    #sheet_name="Waste",
    engine="openpyxl",
    skiprows=1,
    usecols="B, D:FY",
).dropna()

waste = waste.groupby('Country').sum()

In [ ]:
destination = pd.read_excel(
    "../data/MFA matrix v2.xlsx",
    sheet_name="Waste",
    engine="openpyxl",
    skiprows=1,
    usecols="C:FY",
).dropna()

destination = destination.groupby('Producer').sum()

In [ ]:
investor_df = create_sankey_df(investor)
financer_df = create_sankey_df(financer)
producer_df = create_sankey_df(producer)
waste_df = create_sankey_df(waste)
destination_df = create_sankey_df(destination)

In [ ]:
with open('../data/region_map.json', 'r') as f:
    region_dict = json.load(f)
country_to_region = { country['name']: country['region'] for country in region_dict }

In [ ]:
# Assign regions to countries
region = [country_to_region[country] for country in destination_df['target']]
destination_df['region'] = region
destination_df.head()

# Top Producer Bar Plot

In [ ]:
plt.figure(figsize=(4,3), dpi=150, facecolor=(1,1,1))
country_sum = destination_df.groupby('target').sum().sort_values(by='value', ascending=False)[:11].reset_index()
country_sum['percentage'] = country_sum['value'] /  destination_df.groupby('target').sum()['value'].sum() * 100
sns.barplot(x='target', y='percentage', data=country_sum)
plt.xticks(rotation=45, ha='right')
plt.ylabel('Global Plastics %')
plt.xlabel('')
plt.title('Percentage of Global Plastics Destination')
plt.show()

# Number of Export Countries for Top Producers
Top producers send plastics everywhere

In [ ]:
top_producers = list(destination_df.groupby('source').sum().sort_values(by='value', ascending=False).iloc[:11].index)

In [ ]:
num_countries = []
for producer in top_producers:
    num_countries.append(len(destination_df[destination_df['source'] == producer]))

In [ ]:
plt.figure(figsize=(4,3), dpi=150, facecolor=(1,1,1))
sns.barplot(x=top_producers, y=num_countries, color='C0')
plt.xticks(rotation=45, ha='right')
plt.xlabel('')
plt.title('Number of Countries of Export for Top Producers')
plt.ylabel('Number of Countries')
plt.show()

# Histogram of Number of Export Countries
Most producers send plastics indiscriminately across the globe

In [ ]:
top_producers = list(destination_df.groupby('source').sum().sort_values(by='value', ascending=False).index)
num_countries = []
for producer in top_producers:
    num_countries.append(len(destination_df[destination_df['source'] == producer]))

In [ ]:
plt.figure(figsize=(4,3), dpi=150, facecolor=(1,1,1))
sns.histplot(num_countries, bins=20, stat='probability')
plt.xlim([60, 145])
plt.xlabel('Number of Countries')
plt.ylabel('Fraction of Producers')
plt.title('Number of Export Countries')
plt.show()

# Per-Capita Plastics

In [ ]:
with open('../data/country_population.json', 'r') as f:
    population = json.load(f)

pop_countries = np.array([element['country'] for element in population])
populations = np.array([element['population'] for element in population])

In [ ]:
# Assign population to countries
country_total = destination_df.groupby('target').sum()
country_total['population'] = [np.squeeze(populations[pop_countries == country]) for country in country_total.index]
country_total['per capita'] = country_total['value'] / country_total['population'] * 1000000
country_total = country_total.sort_values(by='per capita', ascending = False)

In [ ]:
plt.figure(figsize=(4,3), dpi=150, facecolor=(1,1,1))
sns.barplot(x=country_total.index[:13], y=country_total['per capita'][:13])
plt.xticks(rotation=45, ha='right')
plt.ylabel('Kilograms of Plastic per Person')
plt.xlabel('')
plt.title('Countries with Highest Yearly Per Capita Plastics Use')
plt.show()

# Distribution of Per-Capita Plastics Use by Country
Most countries don't use that much plastic per person

In [ ]:
plt.figure(figsize=(4,3), dpi=150, facecolor=(1,1,1))
sns.histplot(data=country_total, x='per capita', bins=30)
plt.ylabel('Number of Countries')
plt.xlabel('Yearly Per-Capita Plastics Use (kg)')
plt.title('Distribution of Yearly Per-Capita Plastics Use')
plt.show()

# Fast Facts

In [ ]:
# Top plastics destinations
top_n = 20
country_sum = destination_df.groupby('target').sum().sort_values(by='value', ascending=False)[:top_n].reset_index()
country_sum['percentage'] = country_sum['value'] /  destination_df.groupby('target').sum()['value'].sum()
country_sum.loc[top_n] = {
    'target': 'Other',
    'value': destination_df.groupby('target').sum()['value'].sum() - country_sum['value'].sum(),
    'percentage': (destination_df.groupby('target').sum()['value'].sum() - country_sum['value'].sum()) / destination_df.groupby('target').sum()['value'].sum()
                   }
print("Top Plastics Destinations")
country_sum

In [64]:
#Plastics Use per Person per Year
country_total = country_total.sort_values(by='per capita', ascending = False)
print("Plastics Use per Person per Year")
country_total[:50]

Plastics Use per Person per Year

                             value population per capita
target
Luxembourg              142.379534     607950    234.196
Belgium                2293.021386   11433256    200.557
Singapore               820.331363    5638676    145.483
Taiwan                  282.501282    2381677    118.614
Netherlands            1539.409882   17231624    89.3363
Kuwait                  328.697283    4137309    79.4471
Israel                  657.531861    8882800     74.023
United States         23433.099685  326687501    71.7294
Australia              1777.887393   24982688    71.1648
Austria                 625.503613    8840521    70.7542
South Korea            3502.948568   51606633    67.8779
Lithuania               187.447931    2801543    66.9088
Canada                 2412.060856   37057765    65.0892
Oman                    301.546853    4829483    62.4387
United Kingdom         3954.072230   66460344    59.4952
Djibouti                 55.437312     958920    57.8122
Chile                  1065.274681   18729160    56.8779
New Zealand             263.581700    4841000    54.4478
France                 3598.647325   66977107    53.7295
Ireland                 257.898260    4867309    52.9858
Sweden                  532.221066   10175214    52.3056
Portugal                493.334898   10283822    47.9719
Saudi Arabia           1611.486908   33699947    47.8187
Spain                  2203.221550   46796540    47.0809
Japan                  5748.985989  126529100    45.4361
Slovenia                 94.172816    2073894    45.4087
Hong Kong               321.323548    7451000    43.1249
Germany                3381.912393   82905782    40.7922
Finland                 224.907348    5515525    40.7771
Qatar                   112.729556    2781677    40.5258
United Arab Emirates    370.618548    9630959     38.482
Italy                  2308.392645   60421760    38.2047
Malaysia               1197.512745   31528585    37.9818
Poland                 1429.467715   37974750    37.6426
Slovakia                202.311204    5446771    37.1433
Norway                  193.517433    5311916    36.4308
Greece                  387.776457   10731726    36.1337
Denmark                 203.020223    5793636    35.0419
Czech Republic          366.388207   10629928    34.4676
Switzerland             290.469324    8513227    34.1198
Montenegro               20.828000     631219    32.9965
Hungary                 296.900985    9775564    30.3717
Bahrain                  43.787093    1569439    27.8998
Thailand               1887.816309   69428524    27.1908
Uruguay                  90.661111    3449299    26.2839
Romania                 507.230379   19466145    26.0571
Belarus                 241.964517    9483499    25.5143
Turkey                 2076.741812   82319724    25.2278
Costa Rica              125.606549    4999441    25.1241
Vietnam                2384.861250   95540395    24.9618

In [ ]:
# Top producers
top_producer_df = destination_df.groupby('source').sum().sort_values(by='value', ascending=False)
top_producer_df['percentage'] = top_producer_df['value'] / top_producer_df['value'].sum()
top_producer_df['value'].sum()

In [ ]:
country_total

In [ ]:
country_total.sort_values(by='value', ascending = False)

In [ ]:
country_total.sort_values(by='value', ascending = False)[:30]

In [65]:
for index, element in enumerate(destination.sum().sort_values(ascending=False).keys()):
    print(index + 1, element)

1 China
2 United States
3 India
4 Japan
5 United Kingdom
6 Brazil
7 France
8 Russian Federation
9 Indonesia
10 South Korea
11 Mexico
12 Vietnam
13 Germany
14 Spain
15 Australia
16 Italy
17 Canada
18 Thailand
19 Turkey
20 Saudi Arabia
21 Iran
22 Philippines
23 Netherlands
24 Chile
25 Egypt
26 Poland
27 South Africa
28 Pakistan
29 Nigeria
30 Argentina
31 Belgium
32 Colombia
33 Malaysia
34 United Arab Emirates
35 Peru
36 Israel
37 Switzerland
38 Singapore
39 Ukraine
40 Morocco
41 Hong Kong
42 Taiwan
43 Algeria
44 Czech Republic
45 Sweden
46 Romania
47 Bangladesh
48 Austria
49 Myanmar
50 Iraq
51 Oman
52 Greece
53 Portugal
54 Kenya
55 Finland
56 Ghana
57 Hungary
58 Denmark
59 New Zealand
60 Ireland
61 Kuwait
62 Kazakhstan
63 Belarus
64 Ecuador
65 Uzbekistan
66 Norway
67 Guatemala
68 El Salvador
69 Costa Rica
70 Slovakia
71 Venezuela
72 Dominican Republic
73 Tunisia
74 Lebanon
75 Tanzania
76 Luxembourg
77 Serbia
78 Cote d'Ivoire
79 Croatia
80 Uruguay
81 Sri Lanka
82 Yemen
83 Bulgaria
84 Paraguay
85 Ethiopia
86 Cambodia
87 Slovenia
88 Jordan
89 Panama
90 Lithuania
91 Qatar
92 Azerbaijan
93 Nepal
94 Sudan
95 Mozambique
96 Honduras
97 Georgia
98 Turkmenistan
99 Djibouti
100 Malta
101 Latvia
102 Libya
103 Cuba
104 Angola
105 Bosnia and Herzegovina
106 Senegal
107 Togo
108 Bolivia
109 Zambia
110 Cameroon
111 Trinidad and Tobago
112 Montenegro
113 Kyrgyzstan
114 Uganda
115 Bahrain
116 Syria
117 Zimbabwe
118 Afghanistan
119 Fiji
120 Mongolia
121 Cyprus
122 Estonia
123 Mauritius
124 Haiti
125 Laos
126 Armenia
127 Malawi
128 Guinea
129 Madagascar
130 Tajikistan
131 Albania
132 Namibia
133 Comoros
134 Swaziland
135 Congo
136 Kosovo
137 Nicaragua
138 Botswana
139 Sierra Leone
140 Maldives
141 Jamaica
142 Bhutan
143 Iceland
144 Moldova
145 Liberia
146 Benin
147 Suriname
148 Guyana
149 Mauritania
150 Papua New Guinea
151 Barbados
152 Puerto Rico
153 Republic of North Macedonia
154 Bahamas
155 Rwanda
156 Wallis and Futuna
157 Lesotho
158 Virgin Islands (British)
159 South Sudan
160 Other Europe
161 Palestine
162 Free Zone
163 Mali
164 Countries and territories not specified in the framework of intra-Community FG
165 Countries and territories not specified for commercial or military reasons in the framework of FG with third countries
166 Countries and territories not specified for commercial or military reasons
167 Countries and territories not specified
168 French Polynesia
169 Guinea Bissau
170 Democratic Republic of Congo
171 French Southern Territories
172 New Caledonia
173 Cayman Islands
174 Dominica
175 North Korea
176 Other Asia
177 Other Central & South America
178 Eritrea