# PPI Flow Viz - Node 1

### Source: Investor OR Financer
Investor value = total \\$mn invested: "Equity Investor SUP matrix" – "Ultimate Investor" (Column B) x "\\$ Holding - Single Use Plastic Adjusted" (Column GH)

Financer value = total \\$mn of financing: "Financing SUP matrix" – "Bank" (Column A) x "Grand Total"(Column AW)


### Edge
Investor value = \\$mn invested in each Producer: ‘Equity Investor SUP matrix’ – ‘Ultimate Investor’ (Column B) x Producer (Columns E4:GG4)

Financer value = \\$mn of financing to each Producer: ‘Financing SUP matrix’ – ‘Bank’ (Column A) x Producer (Columns B5:AV5)


### Sink: Producer

Value = total volume of polymers bound for single-use plastic applications, by producer
MFA matrix, ‘Conversion’ tab: sum of all identical ‘Producer’ entries (Column C) x ‘checksum’ (Column FZ)

In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

### Load data

In [54]:
investor_value = pd.read_excel(
    "../data/Equity investor SUP matrix.xlsx",
    engine="openpyxl",
    skiprows=3,
    usecols="B, E:GG, GH",
)

investor_value = investor_value.rename(columns={investor_value.columns[0]: "Ultimate Investor"})

# drop last row because it is a table summary
investor_value = investor_value[:-1]

print("Investor Value Dataframe")
investor_value.head()

Investor Value Dataframe

,Ultimate Investor,North Huajin Chemical Industri,Daelim Industrial Co Ltd,Qinghai Salt Lake Industry Co,Hanwha Corp,Oriental Energy Co Ltd,Rongsheng Petro Chemical Co Lt,Zhejiang Satellite Petrochemic,Hyosung Corp,S-Oil Corp,...,NATIONAL PETROCHEMICAL COMPANY,MEHR PETROCHEMICAL COMPLEX,LALEH PETROCHEMICAL COMPANY,"MARUZEN PETROCHEMICAL CO.,LTD.","DATANG ENERGY CHEMICAL CO., LTD.",NATIONAL COMPANY KAZMUNAYGAZ JSC,"SICHUAN YIBIN WULIANGYE GROUP YIBIN PHARMACEUTICAL CO., LTD.","PRIME POLYMER CO., LTD.","SHENYANG PARAFFIN-WAX CHEMICAL CO., LTD.",Holding - Single Use Plastic Adjusted (USD mn)
0,KINGDOM OF SAUDI ARABIA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,13.535443,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,1.083693,0.000000,44416.930024
1,PEOPLE'S REPUBLIC OF CHINA,21.019217,0.000000,51.439983,0.000000,0.014524,0.539897,7.176349,0.00000,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,68.594685,0.000000,11.753004,7424.722512
2,EMIRATE OF ABU DHABI UNITED ARAB EMIRATES,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,6143.909644
3,AMBANI FAMILY,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,3078.284791
4,VANGUARD GROUP INC/THE,0.229368,3.170175,0.000000,1.179354,0.166939,1.852389,1.337038,1.77867,0.233129,...,0.0,0.000001,0.0,0.012245,0.0,0.0,0.000000,0.993410,0.065522,3029.482832

In [55]:
financer_value = pd.read_excel(
    "../data/Financing SUP matrix.xlsx",
    engine="openpyxl",
    skiprows=4,
    #usecols="A:AW",
)

# drop last row because it is null
financer_value = financer_value[:-1]

print("Financer Value Dataframe")
financer_value.head()

Financer Value Dataframe

,Bank,ABU DHABI NATIONAL OIL COMPANY (ADNOC),Alpek SAB de CV,BOREALIS AG,Braskem SA,Chevron Corp,China Coal Energy Co Ltd,"CHINA ENERGY INVESTMENT GROUP CO., LTD.",CHINA RESOURCES (HOLDINGS) COMPANY LIMITED,Dow Inc,...,Siam Cement PCL/The,PUBLIC JOINT STOCK COMPANY SIBUR HOLDING,China Petroleum & Chemical Corp,SK Innovation Co Ltd,Sumitomo Chemical Co Ltd,TOTAL SE,Westlake Chemical Corp,"SHAANXI YANCHANG PETROLEUM (GROUP) CO., LTD.",Zhejiang Wankai New Materials Co. Ltd,Grand Total
0,Barclays,27.412881,0.000000,1890.527483,0.000000,73.934224,0.0,0.0,0.000000,173.812884,...,0.0,0.000000,7.433688,0.000000,0.000000,82.213109,22.770791,0.0,0.0,7616.337515
1,JPMorgan Chase,72.239679,439.952974,764.243389,106.983709,91.744051,0.0,0.0,1.235538,142.215109,...,0.0,299.521807,45.643425,3.028444,0.000000,56.263155,153.299180,0.0,0.0,6998.480317
2,Citigroup,67.792580,420.051817,912.380208,519.320566,51.597385,0.0,0.0,1.235538,1015.017023,...,0.0,20.364089,76.481711,8.873341,59.472277,55.235138,39.491862,0.0,0.0,6923.347487
3,Bank of America,54.315937,39.167216,288.755380,109.768070,80.250115,0.0,0.0,0.000000,573.544105,...,0.0,0.000000,23.653820,3.028444,0.000000,39.077215,110.224202,0.0,0.0,6067.817900
4,HSBC,130.560125,508.194913,153.649720,254.022083,13.806886,0.0,0.0,2.495655,862.203772,...,0.0,74.270887,65.793303,1.410352,27.124434,54.614334,3.082907,0.0,0.0,5165.508740

In [50]:
# Producer Value
producer = pd.read_excel(
    "../data/MFA matrix.xlsx",
    engine="openpyxl",
    skiprows=1,
    usecols="C, FZ",
)

# drop last row because it is null
producer = producer[:-1]

print("Producer Value Dataframe")
producer.head()

Producer Value Dataframe

                                 Producer     checksum
0  ABU DHABI NATIONAL OIL COMPANY (ADNOC)  1028.306208
1               Advanced Petrochemical Co   255.255698
2                        ALCO-NAPHTHA ZAO   184.048780
3                         Alpek SAB de CV   276.797055
4                         Alpek SAB de CV  1358.816018